# Bỏ môi trường ảo
.venv/
venv/

# Bỏ cache Python
__pycache__/
*.pyc
*.pyo

# Bỏ model nếu không muốn push lên GitHub (nặng)
segformer_b2_clothes/
siglip_model/

# bỏ vector_db
vector_database/df_with_vectors.pkl

# bỏ env
.env